<form (ngSubmit)="onSubmit(fruit.id)" #fruitForm="ngForm">
  <div class="form-group">
    <label for="name">Tên trái cây:</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      [(ngModel)]="fruit.name"
      required
    />
  </div>
  <div class="form-group">
    <label for="image">Link hình ảnh:</label>
    <input
      type="text"
      class="form-control"
      id="image"
      name="image"
      [(ngModel)]="fruit.image"
      required
    />
  </div>
  <div class="form-group">
    <label for="desc">Mô tả:</label>
    <textarea
      class="form-control"
      id="desc"
      name="desc"
      [(ngModel)]="fruit.desc"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="quantity">Số lượng:</label>
    <input
      type="number"
      class="form-control"
      id="quantity"
      name="quantity"
      [(ngModel)]="fruit.quantity"
      required
    />
  </div>
  <div class="form-group">
    <label for="price">Giá:</label>
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      [(ngModel)]="fruit.price"
      required
    />
  </div>
  <div class="form-group">
    <label for="nsx">Ngày sản xuất:</label>
    <input
      type="date"
      class="form-control"
      id="nsx"
      name="nsx"
      [(ngModel)]="fruit.nsx"
      required
    />
  </div>
  <div class="form-group">
    <label for="hsd">Hạn sử dụng:</label>
    <input
      type="date"
      class="form-control"
      id="hsd"
      name="hsd"
      [(ngModel)]="fruit.hsd"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
